/* Cuerpo */
.contact_form{  
    border-radius: 10px;  
    padding-top: 90px;
    padding-bottom: 20px;  
    background-color: #0e0e0e; 
    padding-left: 50px; 
    
  }
 input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color:rgb(48, 23, 102);
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px;
    font-weight: 900;
  }
 textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(48, 23, 102);
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    font-weight: 900;
  }
 label{
    display: block; 
    float: center;  
  }
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color:rgb(48, 23, 102);
    border-color: rgb(48, 23, 102);
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
 button p{
    color: #fff; 
  }
 span{
    color: #9351f1; 
  }
 .aviso{
    font-size: 13px;  
    color: #9351f1; ;  
  }
 h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: rgb(90, 65, 154);
  }
 h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #9351f1;   
  }
 p{
    font-size: 14px; 
    color: #9351f1; 
  }
  
